* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background: rgb(54,77,204);
    background: linear-gradient(180deg, rgba(54,77,204,1) 0%, rgba(18,26,69,1) 100%);
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

.avatar {
    width: 80px;
    border-radius: 50%;
    border: 2px solid rgb(168, 230, 225);
    box-shadow: 0 0 20px rgb(3, 239, 252);
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 2px;
}

h2 {
    font-size: 16px;
}

.profile {
    margin-top: 20px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0;
}

.social img {
    width: 33px;
    box-shadow: 0 0 10px rgb(3, 239, 252);
    border-radius: 50%;
}

.links-list {
    list-style: none;
}

.links-list li {
    padding: 10px 20px;

}

.links-list li a {    
    display: block;
    background: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(3, 239, 252);
    text-decoration: none;
    color: rgb(54,77,204);
    font-weight: bold;
}

.links-list li a span {
    color: black;
    display: block;
    margin-top: 10px;

}
.footer {
    margin-top: 40px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;

}
